@import "@/styles/variables.scss";

.calendarPage {
    margin: 0 auto;
    max-width: $fullhd;

    &_options {
        padding: 8px;
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &_empty {
        margin: 0 auto;
        width: fit-content;
    }
}