@import "@/styles/variables.scss";

.profileContent {
    margin-left: 10%;
    margin-right: auto;
    min-height: 100%;

    &_h {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: $h1;
    }

    &_main {
        margin-top: 40px;
        display: flex;
        align-items: center;

        &_data {
            width: 35%;
            display: flex;
            flex-direction: column;
        }

        &_avatar {
            display: flex;
            flex-direction: column;
            align-items: center;

            &_img {
                width: 288px;
                height: 288px;
                object-fit: cover;
                border-radius: 80px;

                &__fake {
                    width: 288px;
                    height: 288px;
                    background-color: $gray;
                    border-radius: 80px;
                }
            }

            &_load {
                width: fit-content;
                display: none;

                &_text {
                    margin-top: 10px;
                    cursor: pointer;
                    color: $blue;

                    &:hover {
                        color: $light-blue;
                    }
                }
            }
        }

        &_vr {
            margin-left: 10%;
            margin-right: 10%;
            height: 250px;
            border-left: 2px solid $light-gray;
        }
    }

    &_inputText {
        font-size: $p1;
        font-style: normal;
        font-weight: 400;
    }

    &_input {
        padding-top: 22px;
        padding-bottom: 20px;
        padding-left: 37px;
        width: 100%;
        border-radius: 50px;
        border: 1px solid $very-light-gray;
        box-shadow: $light-shadow;

        font-size: $p1;
        font-style: normal;
        font-weight: 400;

        &::placeholder {
            color: $light-gray;
            font-size: $p1;
            font-style: normal;
            font-weight: 400;
        }
    }

    &_inputContainer {
        margin-top: 12px;
        margin-bottom: 25px;
        width: 100%;
    }

    &_notifications {

        &_notification {
            margin-top: 20px;

            display: flex;
            align-items: center;

            &_text {
                max-width: 40%;
                font-size: $p1;
            }
        }
    }

    &_personal {
        max-width: 50%;

        &_indexes {
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_index {
                display: flex;
                flex-direction: column;
                align-items: center;

                &_counter {
                    margin-top: 12px;
                    width: 50%;
                }
            }
        }
    }

    &_block {
        margin-top: 12px;
        margin-bottom: 25px;
    }

    &_check{
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
    }

    &_edit {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &_delete {
        padding: 3px;
        cursor: pointer;
        margin-top: 8px;
        margin-bottom: 20px;
        width: fit-content;
        border-radius: 8px;
        background-color: $white;
        text-decoration: underline;
        color: $red;

            &:hover {
                background-color: $light-red;
            }
    }
}