@import "@/styles/variables.scss";

.profileContent {
    margin-left: 10%;
    margin-right: auto;
    min-height: 100%;

    &_h {
        margin-top: 15px;
        margin-bottom: 15px;
        width: fit-content;
        font-size: $h1;
    }

    &_main {
        margin-top: 40px;
        display: flex;
        align-items: center;

        &_data {
            width: 35%;
            display: flex;
            flex-direction: column;
        }

        &_avatar {
            display: flex;
            flex-direction: column;
            align-items: center;

            &_img {
                width: 288px;
                height: 288px;
                object-fit: cover;
                box-shadow: $dark-shadow;
                border-radius: 80px;

                &__fake {
                    width: 288px;
                    height: 288px;
                    background-color: $light-gray;
                    border-radius: 80px;
                }
            }

            &_load {
                width: fit-content;
                display: none;

                &_text {
                    margin-top: 10px;
                    cursor: pointer;
                    color: $blue;
                    transition: color 150ms;

                    &:hover {
                        color: $light-blue;
                    }
                }
            }
        }

        &_vr {
            margin-left: 10%;
            margin-right: 10%;
            height: 250px;
            border-left: 2px solid $light-gray;
        }
    }

    &_inputText {
        font-size: $p1;
        font-style: normal;
        font-weight: 400;
    }

    &_input {
        padding-top: 22px;
        padding-bottom: 20px;
        padding-left: 37px;
        padding-right: 5px;
        width: 100%;
        border-radius: 50px;
        border: 1px solid $very-light-gray;
        box-shadow: $light-shadow;

        font-size: $p1;
        font-style: normal;
        font-weight: 400;

        &::placeholder {
            color: $light-gray;
            font-size: $p1;
            font-style: normal;
            font-weight: 400;
        }
    }

    &_inputContainer {
        margin-top: 12px;
        margin-bottom: 25px;
        width: 100%;
    }

    &_notifications {

        &_notification {
            margin-top: 20px;

            display: flex;
            align-items: center;

            &_text {
                max-width: 40%;
                font-size: $p1;
            }
        }
    }

    &_personal {
        max-width: 50%;

        &_indexes {
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            &_index {
                display: flex;
                flex-direction: column;
                align-items: center;

                &_counter {
                    margin-top: 12px;
                    width: 100px;
                }
            }
        }
    }

    &_block {
        margin-top: 12px;
        margin-bottom: 25px;
    }

    &_radio {
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
    }

    &_edit {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &_delete {
        padding: 3px;
        cursor: pointer;
        margin-top: 8px;
        margin-bottom: 20px;
        width: fit-content;
        border-radius: 8px;
        background-color: $white;
        text-decoration: underline;
        color: $red;
        transition: background-color 150ms;

            &:hover {
                background-color: $light-red;
            }
    }
}

@media screen and (max-width: $phone) {
    .profileContent {
        margin-left: 3%;
        margin-right: 3%;

        &_h {
            margin-top: 8px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
            font-size: $h3;
        }
        &_main {
            margin-top: 10px;
            flex-direction: column-reverse;

            &_data {
                margin-top: 5px;
                width: 100%;
            }

            &_avatar {
                &_img {
                    width: 100px;
                    height: 100px;
                    border-radius: 30px;

                    &__fake {
                        width: 100px;
                        height: 100px;
                        border-radius: 30px;
                    }
                }

                &_load {
                    &_text {
                        font-size: $p2;
                    }
                }
            }

            &_vr {
                display: none;
            }
        }

        &_inputText {
            font-size: $p2;
        }
    
        &_input {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 16px;
            border-radius: 50px;
            font-size: $p3;
    
            &::placeholder {
                font-size: $p3;
            }
        }
    
        &_inputContainer {
            margin-top: 6px;
            margin-bottom: 12px;
        }

        &_button {
            width: fit-content;
            font-size: $p3;
        }

        &_notifications {
            &_notification {
                margin-top: 5px;
    
                &_text {
                    max-width: 100%;
                    font-size: $p3;
                }
            }
        }

        &_personal {
            max-width: 100%;
    
            &_indexes {
                margin-bottom: 12px;
    
                &_index {

                    &_text {
                        font-size: $p2;
                    }
    
                    &_counter {
                        margin-top: 6px;
                        width: 80px;
                    }
                }
            }
        }

        &_block {
            margin-top: 0px;
            margin-bottom: 12px;
        }

        &_calendarInput {
            font-size: $p2;
        }

        &_radio {
            margin-bottom: 6px;
            font-size: $p3;
            gap: 10%;
        }

        &_edit {
            margin-bottom: 10px;
        }

        &_note {
            font-size: $p3;
        }

        &_delete {
            margin-bottom: 10px;
            font-size: $p2;
        }
    }
}