@import "@/styles/variables.scss";

.container {
    position: relative;
    display: flex;
    align-items: center;
}
.input{

    &:focus {
        outline-width: 0;
    }

    &::placeholder { /* Most modern browsers support this now. */
    }

    &_icon {
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        width: 24px;
        height: 24px;

        right: 12px;
        // align-center
        top: 50%;
        transform: translateY(-50%);

        &__clickable {
            cursor: pointer;
        }
    }
}