@import "@/styles/variables.scss";

.foodCard{
    &_icons{
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        &_time{
            display: flex;
            align-items: center;

            & img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            &_text {
                font-size: $p1;
            }
        }
        &_save{
            display: flex;
            align-items: center; 

            & img {
                width: 20px;
                height: 20px; 
            }
        }
    }
}

@media screen and (max-width: $phone) {
    .foodCard{
        $font-size: $p3;

        &_icons {
            &_time {
                & img {
                    width: 15px;
                    height: 15px;
                }

                &_text {
                    font-size: $p3;
                }
            }

            &_save {
                & img {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}
