@import "@/styles/variables.scss";

.root {
    &_close {
        margin-left: auto;
        display: flex;

        &_icon {
            cursor: pointer;
            width: 24px;
            height: 24px;
        }
    }
}