@import "@/styles/variables.scss";

.MuiFormGroup-root {
  flex-direction: row;
}

.MuiPaginationItem-root {
  background-color: $black-primary;
  color: $white;
}

.MuiPaginationItem-root:hover {
  border: 1px solid rgba(0, 0, 0, 0.23);
  background-color: rgba(0, 0, 0, 0.08);
  color: $black;
}
  
.MuiPaginationItem-root.Mui-selected {
  border: 1px solid $black-primary;
  background-color: $white;
  color: $black-primary;
}

.MuiPaginationItem-ellipsis:hover {
  background-color: $black-primary;
  color: $white;
}

@media screen and (max-width: $tablet) {
  .MuiFormGroup-root {
    flex-direction: column;
  }
}

@media screen and (max-width: $phone) {
  .MuiFormGroup-root {
    flex-direction: row;
  }
}