@import "@/styles/variables.scss";

.searchPage {

    &_body {
        margin: 0 auto;
        max-width: $fullhd;

        &_beforeContent {
            margin-top: 20px;
            display: flex;

            &_seeMore {
                margin-left: 50px;
                padding: 7px 23px 8px 24px;
                background-color: $white;
                border-radius: 20px;
                border: 1px solid $gray;
                color: $dark-gray;

                &:hover {
                    background-color: $light-gray;
                }
            }
        }

        &_search{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            &_searchInput {
                padding: 10px 40px 10px 19px;
                min-width: 200px;
                width: 40vw;
                border-radius: 20px;
                border: 1px solid $very-light-gray;
        
                &_container {
                    margin-top: 20px;
                    margin-left: auto;
                    margin-right: auto;
                    width: fit-content;
                }
            }

            &_filters {
                cursor: pointer;
            }
        }

        &_afterContent {
            margin-bottom: 20px;
            display: flex;

            &_seeMore {
                margin: 0 auto;
            }
        }
    }    
}


