@import "@/styles/variables.scss";

.createDishContent {
    margin: 20px 10%;

    &_radio {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
    }

    &_input {
        padding: 10px 20px;
        min-width: 200px;
        width: 100%;
        border-radius: 20px;
        border: 1px solid $gray;

        &_container {
            margin-top: 20px;
            width: 80%;
        }
    }

    &_description {
        margin-top: 20px;
        padding: 10px 20px;
        min-width: 200px;
        width: 80%;
        border: 1px solid $gray;
        border-radius: 20px;
        font-family: 'Roboto';

        &:focus {
            outline-width: 0;
        }
    }

    &_block {
        margin-top: 20px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_counter {
        width: 70px;
        margin-left: 10px;
        border: 1px solid $gray;
    }

    &_options {
        display: flex;
        flex-direction: column;
        width: 80%;

        &_text {
            margin-top: 20px;
            font-size: $p1;
            color: $gray;
        }
    }

    &_accordion {
        margin-top: 20px;
    }

    &_searchList {
        margin-top: 20px;
        max-height: 300px;
        overflow-y: auto;
        width: 80%;

        display: flex;
        flex-direction: column;

        &_dish {
            cursor: pointer;
            border-bottom: 1px solid $light-gray;

            display: flex;
            align-items: center;

            &:hover {
                background-color: $very-light-gray;
            }

            &_title {
                padding: 5px 5px;
            }

            &_img {
                margin-left: auto;
                width: 40px;
                height: 40px;
                object-fit: cover;
            }
        }

        &_empty {
            color: $gray;
            border-bottom: 1px solid $light-gray;
        }
    }

    &_products {
        margin-top: 20px;
        padding: 10px 20px;
        border: 1px solid $gray;
        border-radius: 20px;
        display: flex;

        &_h {
            text-align: center;
            border-bottom: 1px solid $light-gray;
            font-size: $h3;
        }

        &_current {
            border-right: 1px solid $light-gray;
            display: flex;
            flex-direction: column;
            flex-basis: 60%;

            &_product {
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &_selected {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            flex-basis: 40%;
            border-left: 1px solid $light-gray;

            &_product {
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    

    &_btn {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
}