@import "@/styles/variables.scss";

.counter {
    position: relative;
    min-width: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &_input {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 12px;
        padding-right: 25px;
        width: 100%;
        min-height: 20px;
        background-color: $white;
        border-radius: 50px;
        border: 1px solid $very-light-gray;
        box-shadow: $light-shadow;
        font-size: $p2;

        &:focus {
            outline-width: 0;
            border: 1px solid $black-primary;
        }

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &_count {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 12px;
        padding-right: 25px;
        width: 100%;
        min-height: 20px;
        background-color: $white;
        border-radius: 50px;
        border: 1px solid $very-light-gray;
        box-shadow: $light-shadow;
    }

    & span {
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 40px;
    }

    &_controller {
        position: absolute;
        width: 24px;
        height: 24px;

        right: 0px;
        // align-center
        top: 50%;
        transform: translateY(-50%);

        display: flex;
        flex-direction: column;
        gap: 10px;

        &_arrow {
            cursor: pointer;
            width: 13px;
            height: 7px;
            transition: background-color 150ms;

            &:hover {
                background-color: $light-gray;
            }
        }
    }

    &_disabled {
        cursor: default;
        opacity: 0.5;
        background-color: rgba(239, 239, 239, 0.3);
    }
}