@import "@/styles/variables.scss";

.addMeal {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    max-width: 600px;
    display: flex;
    flex-direction: column;

    &_close {
        display: flex;

        &_icon {
            cursor: pointer;
            margin-left: auto;
        }
    }

    &_h {
        font-size: $h3;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }

    &_input {
        padding-top: 12px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 40px;
        width: 100%;
        border-radius: 50px;
        border: 1px solid $light-gray;
        box-shadow: $light-shadow;

        font-size: $p2;
        font-style: normal;
        font-weight: 400;

        &::placeholder {
            color: $light-gray;
            font-size: $p2;
            font-style: normal;
            font-weight: 400;
        }
    }

    &_inputContainer {
        margin-top: 5px;
        margin-bottom: 10px;
        width: 100%;
        min-width: 280px;
    }

    &_text {
        color: $gray;
        font-size: $p2;
    }

    &_description {
        margin-top: 5px;
        padding: 10px 20px;
        min-width: 200px;
        border: 1px solid $light-gray;
        border-radius: 20px;
        font-family: 'Roboto';

        &:focus {
            outline-width: 0;
            border: 1px solid $black-primary;
        }

        &::placeholder {
            color: $light-gray;
            font-size: $p2;
            font-style: normal;
            font-weight: 400;
        }
    }

    &_time {
        margin-top: 5px;
        width: fit-content;
    }

    &_type {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &_search{
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &_searchInput {
            padding: 10px 40px 10px 19px;
            min-width: 200px;
            width: 60%;
            border-radius: 20px;
            border: 1px solid $very-light-gray;
    
            &_container {
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                width: fit-content;
            }
        }

        &_filters {
            cursor: pointer;
        }
    }

    &_searchList {
        margin-top: 10px;
        margin-bottom: 20px;
        max-height: 300px;
        overflow-y: auto;

        display: flex;
        flex-direction: column;

        &_obj {
            cursor: pointer;
            border-bottom: 1px solid $light-gray;
            display: flex;
            align-items: center;

            &:hover {
                background-color: $very-light-gray;
            }

            &_title {
                padding: 5px 5px;
                font-size: $p2;
            }

            &_img {
                margin-left: auto;
                width: 40px;
                height: 40px;
                object-fit: cover;
            }
        }

        &_empty {
            font-size: $p2;
            color: $light-gray;
            border-bottom: 1px solid $very-light-gray;
        }
    }

    &_selected {
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 5px;
        max-width: 410px;
        width: 100%;
        min-height: 50px; 
        border-radius: 16px;
        box-shadow: 1px 2px 1px rgb(245, 240, 240),-1px -2px 1px rgb(245, 240, 240);

        &_obj {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            flex-wrap: wrap;

            &_select {
                max-width: 230px;
            }

            &_counter {
                width: 70px;
            }
        }
    }

    &_addedList {
        margin-top: 5px;
        padding: 5px;
        max-width: 410px;
        width: 100%;
        min-height: 100px; 
        border-radius: 16px;
        box-shadow: 1px 2px 1px rgb(245, 240, 240),-1px -2px 1px rgb(245, 240, 240);

        &_object {
            padding: 5px;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: $p3;

            &_remove {
                cursor: pointer;
            }
        }
        
    }

    &_btn {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}
