@import "@/styles/variables.scss";

.addMeal {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;

    &_h {
        font-size: $h3;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    &_type {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &_search{
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &_searchInput {
            padding: 10px 40px 10px 19px;
            min-width: 200px;
            width: 60%;
            border-radius: 20px;
            border: 1px solid $very-light-gray;
    
            &_container {
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                width: fit-content;
            }
        }

        &_filters {
            cursor: pointer;
        }
    }

    &_searchList {
        margin-top: 20px;
        max-height: 300px;
        overflow-y: auto;

        display: flex;
        flex-direction: column;

        &_dish {
            cursor: pointer;
            border-bottom: 1px solid $light-gray;

            display: flex;
            align-items: center;

            &:hover {
                background-color: $very-light-gray;
            }

            &_title {
                padding: 5px 5px;
            }

            &_img {
                margin-left: auto;
                width: 40px;
                height: 40px;
                object-fit: cover;
            }
        }
    }

    &_addedList {
        margin-top: 20px;
        padding: 5px;
        max-width: 410px;
        width: 100%;
        min-height: 100px; 
        border-radius: 16px;
        box-shadow: 1px 2px 1px rgb(245, 240, 240),-1px -2px 1px rgb(245, 240, 240);

        &_object {
            padding: 5px;
            display: flex;
            align-items: center;

            &_remove {
                cursor: pointer;
            }
        }
        
    }

    &_btn {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}
