@import '@/styles/variables.scss';

.createProductContent {
    margin: 20px 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_input {
        padding: 10px 20px;
        min-width: 200px;
        width: 100%;
        border-radius: 20px;
        border: 1px solid $gray;

        &_container {
            width: 80%;
        }
    }

    &_description {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px 20px;
        min-width: 200px;
        width: 80%;
        border: 1px solid $gray;
        border-radius: 20px;
        font-family: 'Roboto';

        &:focus {
            outline-width: 0;
            border: 1px solid $black-primary;
        }
    }

    &_label {
        padding: 5px 10px;
        cursor: pointer;
        border: 1px solid $gray;
        border-radius: 20px;
        color: $blue;
        transition: color 150ms;

        &:hover {
            color: $light-blue;
        }
    }

    &_load {
        width: fit-content;
        display: none;
    }

    &_block {
        margin-top: 20px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_counter {
        width: 100px;
        margin-left: 10px;
    }

    &_accordion {
        margin-top: 20px;
    }

    &_servingSizes {
        padding: 10px 15px;
        border: 1px solid $gray;
        border-radius: 20px;
        display: flex;

        &_h {
            text-align: center;
            border-bottom: 1px solid $light-gray;
            font-size: $h3;
        }

        &_current {
            border-right: 1px solid $light-gray;
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex-basis: 50%;

            &_size {
                margin-right: 5px;
                padding-bottom: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid $light-gray;
                gap: 3px;

                &_text {
                    margin-right: auto;
                }

                &_panel {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    &_counter {
                        width: min-content;
                        min-width: 70px;
                    }
                }
            }
        }

        &_selected {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            border-left: 1px solid $light-gray;
            gap: 10px;
            flex-basis: 50%;

            &_size {
                margin-left: 5px;
                padding-bottom: 3px;
                position: relative;
                border-bottom: 1px solid $light-gray;
                display: flex;
                align-items: center;

                justify-content: space-between;
                gap: 3px;

                &_panel {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    &_grams {
                        margin-left: 10px;
                        white-space: nowrap;
                    }
    
                    &_close {
                        margin-left: auto;
                        cursor: pointer;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }

    &_nutrients {
        margin-top: 13px;
        margin-bottom: 13px;
        width: 80%;
        border-collapse: collapse;
        border-spacing: 0;

        &_head {
            background-color: $light-gray;
            // *table* border-radius: 10px;
            tr:first-child td:first-child { border-top-left-radius: 10px; }
            tr:first-child td:last-child { border-top-right-radius: 10px; }
        }

        &_body {
            // *table* border-radius: 10px;
            tr:last-child td:first-child { border-bottom-left-radius: 10px; }
            tr:last-child td:last-child { border-bottom-right-radius: 10px; }

            &_complextd {
                border: solid 1px $light-gray;
                border-style: none none solid none;
                padding: 10px;
    
                &_subtr {
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    gap: 5px;
                }
            }

            &_input {
                width: 50px;
            }
        }

        td {
            border: solid 1px $light-gray;
            border-style: none none solid none;
            padding: 10px;
        }
    }

    &_btn {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
}

@media screen and (max-width: $tablet) {
    .createProductContent {
        margin: 10px 5%;

        &_servingSizes {
            padding: 5px 10px;
            border-radius: 14px;
    
            &_h {
                font-size: $p1;
            }
    
            &_current {
                gap: 5px;
    
                &_size {
                    font-size: $p2;
                    flex-wrap: wrap;
                    justify-content: center;
    
                    &_text {
                        text-align: center;
                        flex-basis: 100%;
                    }
                }
            }
    
            &_selected {
                gap: 5px;
    
                &_size {
                    font-size: $p2;
                }
            }
        }

        &_nutrients {
            width: 100%;
            font-size: $p2;
        }
    }
}

@media screen and (max-width: $phone) {
    .createProductContent {
        margin: 10px 3%;

        &_block {
            width: 100%;
            font-size: $p2;
        }

        &_servingSizes {
            padding: 5px 10px;
            border-radius: 14px;
    
            &_h {
                font-size: $p1;
            }
    
            &_current {
                gap: 5px;
    
                &_size {
                    font-size: $p3;

                    &_panel {
                        gap: 5px;
    
                        &_btn {
                            padding: 5px 7px;
                            border-radius: 8px;
                        }
                    }
                }
            }
    
            &_selected {
                gap: 5px;
    
                &_size {
                    font-size: $p2;
                    flex-wrap: wrap;
                    justify-content: center;

                    &_text {
                        text-align: center;
                        flex-basis: 100%;
                    }
                }
            }
        }

        &_nutrients {
            font-size: $p3;

            &_body {
                &_complextd {
                    padding: 5px;

                    &_subtr {
                        padding: 5px;
                    }
                }
            }

            td {
                padding: 5px;
            }
        }
    }
}