@import "@/styles/variables.scss";

.root {
    padding: 10px 20px;
    width: fit-content;
    min-height: 95vh;
    height: fit-content;
    display: flex;
    flex-direction: column;

    &_block {
        margin-top: 5px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &_input {
        padding-top: 12px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 5px;
        width: 100%;
        border-radius: 50px;
        border: 1px solid $light-gray;
        box-shadow: $light-shadow;

        font-size: $p2;
        font-style: normal;
        font-weight: 400;

        &::placeholder {
            color: $light-gray;
            font-size: $p2;
            font-style: normal;
            font-weight: 400;
        }
    }

    &_inputContainer {
        width: 100%;
    }

    &_label {
        cursor: pointer;
        padding: 3px;
        border: 1px solid $light-gray;
        border-radius: 8px;
        display: flex;
        align-items: center;
        font-size: $p2;
        transition: background-color 150ms;

        &:hover {
            background-color: $light-gray;
        }
    }

    &_load {
        width: fit-content;
        display: none;
    }

    &_text {
        color: $gray;
        font-size: $p2;
    }

    &_participants {
        margin-top: 5px;
        margin-bottom: 20px;

        &_particip {
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid $light-gray;
            font-size: $p2;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;

            &_del {
                padding: 5px;
                cursor: pointer;
                width: fit-content;
                border: 1px solid $red;
                border-radius: 8px;
                color: $red;
                text-align: right;
                font-size: $p3;
                transition: background-color 150ms;

                &:hover {
                    background-color: $light-red;
                }
            }
        }

        &_empty {
            font-size: $p2;
            color: $gray;
            border-bottom: 1px solid $light-gray;
        }
    }

    &_delete {
        padding: 3px;
        cursor: pointer;
        margin-top: auto;
        margin-bottom: 20px;
        margin-left: auto;
        background-color: $white;
        border-radius: 8px;
        text-decoration: underline;
        color: $red;

        &:hover {
            background-color: $light-red;
        }
    }
}

@media screen and (max-width: $tablet) {
    .root {
        width: 80vw;
    }
}

@media screen and (max-width: $phone) {
    .root {
        width: 80vw;

        &_participants {
            margin-top: 10px;
    
            &_particip {
                flex-direction: column;
            }
        }

        &_block {
            flex-wrap: wrap;
        }

        &_email {
            flex-basis: 100%;
        }
    }
}
