// Colors
$black: #000000;
$black-primary:#1D2130;
$white: #ffffff;
$gray: #A0A8B1;
$light-gray: #D9D9D9;
$dark-gray: #545454;
$very-light-gray: #F2F2F2;
$blue: #455AFF;
$light-blue: #6B7CFF;
$very-light-blue: #EDF2F7; 
$red: #FF0000;
$light-red: #FFB3B9;
$light-violet: #E0E4FC;

// Shadows
$dark-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$light-shadow: 0px 4px 8px 0px rgba(179, 179, 179, 0.15);

// Dimensions
$fullhd: 1920px;
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;

// Typography
$very-large: 42px;
$large: 39px;
$h1: 32px;
$h2: 24px;
$h3: 18px;
$p1: 16px;
$p2: 14px;
$p3: 12px;