@import "@/styles/variables.scss";

.filtersearch{

     &_inner{
        max-width: 100%;
        position: relative;
        padding-top: 5px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &_check{
            display: flex;
            flex-direction: row;
            gap: 40px;
            align-items: center;
        }

        &_accordion {
            &_label {
                margin-top: 10px;
                margin-bottom: 5px;
            }

            &_range {
                width: 250px;
                display: flex;
                gap: 30px;
                font-size: $p2;
            }
        }

        &_switch{
            font-size: $p1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 50px;
        }

        &_input {
            padding: 10px 40px 10px 19px;
            width: 100%;
            border-radius: 20px;
            border: 1px solid $very-light-gray;
        }

        &_inputContainer {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        &_searchList {
            margin-top: 10px;
            margin-bottom: 10px;
            max-height: 300px;
            overflow-y: auto;
            width: 100%;
    
            display: flex;
            flex-direction: column;
    
            &_dish {
                cursor: pointer;
                border-bottom: 1px solid $light-gray;
                display: flex;
                align-items: center;
                transition: background-color 150ms;
    
                &:hover {
                    background-color: $very-light-gray;
                }
    
                &_title {
                    padding: 5px 5px;
                    font-size: $p2;
                }
    
                &_img {
                    margin-left: auto;
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }
            }
    
            &_empty {
                font-size: $p2;
                color: $gray;
                border-bottom: 1px solid $light-gray;
            }
        }

        &_container{
            padding: 5px;
            width: 50vw;
            min-height: 100px; 
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;
            box-shadow: 1px 2px 1px rgb(245, 240, 240),-1px -2px 1px rgb(245, 240, 240);
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            gap: 5px;

            &_button{
                padding: 5px 10px;
                min-width: 70px;
                width: fit-content;
                height: fit-content;
                color: #FFF;

                border-radius: 12px;
                background: #6B7CFF;
                
                text-align: center;
                font-size: $p2;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;

                display: flex;
                align-items: center;
            }

           &_icon{
                cursor: pointer;
                display: flex;
                align-items: center;
            }
        }

        &_buttons {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}

@media screen and (max-width: $tablet) {
    .filtersearch{
        &_inner {
            &_container {
                width: 70vw;
            }
        }
    }
}

@media screen and (max-width: $phone) {
    .filtersearch{
        &_inner {
            &_container {
                width: 80vw;
            }
        }
    }
}