@import "@/styles/variables.scss";

.searchContent{
    padding: 10px;

    &_commonSearch {
        min-height: 70vh;
        display: flex;
        flex-direction: column;

        &_items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &_pagination {
            width: fit-content;
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &_item {
        text-decoration: none;
        color: $black;
    }
}

@media screen and (max-width: $tablet) {
    .searchContent {
        &_commonSearch {
            min-height: 60vh;
        }
    }
}