@import "@/styles/variables.scss";

.searchContent{
    padding: 10px;

    &_commonSearch {
        min-height: 70vh;
        display: flex;
        flex-direction: column;

        &_items {
            margin-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }

        &_gradient {
            filter: blur(100px);
            background: linear-gradient(180deg, #42e0d3 0%, hsl(235, 100%, 50%) 100%);
            border-radius: 250px;
            flex: none;
            height: 80%;
            left: calc(50.00000000000002% - 100% / 2);
            opacity: .22;
            overflow: visible;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
        }

        &_pagination {
            width: fit-content;
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &_item {
        text-decoration: none;
        color: $black;
    }
}

@media screen and (max-width: $tablet) {
    .searchContent {
        &_commonSearch {
            min-height: 60vh;
        }
    }
}