@import "@/styles/variables.scss";

.root {
    padding: 10px 20px;
    width: fit-content;

    &_block {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &_input {
        padding-top: 12px;
        padding-bottom: 10px;
        padding-left: 16px;
        width: 100%;
        border-radius: 50px;
        border: 1px solid $very-light-gray;
        box-shadow: $light-shadow;

        font-size: $p2;
        font-style: normal;
        font-weight: 400;

        &::placeholder {
            color: $light-gray;
            font-size: $p2;
            font-style: normal;
            font-weight: 400;
        }
    }

    &_inputContainer {
        margin-top: 6px;
        margin-bottom: 12px;
        width: 100%;
    }

    &_participants {
        margin-top: 10px;

        &_particip {
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid $light-gray;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &_empty {
            font-size: $p2;
            color: $gray;
            border-bottom: 1px solid $light-gray;
        }
    }

    &_text {
        color: $gray;
    }

    &_delete {
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: $white;
        text-decoration: underline;
        color: $red;
    }
}