@import "@/styles/variables.scss";

.dishPage {
    margin: 0 auto;
    max-width: $fullhd;

    &_control {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 20px;

        &_switch{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        &_delete {
            padding: 3px;
            margin-left: auto;
            cursor: pointer;
            background-color: $white;
            border-radius: 8px;
            text-decoration: underline;
            color: $red;

            &:hover {
                background-color: $light-red;
            }
        }
    }
}
