@import "@/styles/variables.scss";

.range {
    display: flex;
    align-items: center;
    gap: 10px;

    &_label {
        padding-left: 10px;
    }

    &_counter {
        margin-top: 10px;
    }
}