@import "@/styles/variables.scss";

.dishContent {
    &_img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    &_common {
        position: relative;
        margin-top: -50px;
        margin-bottom: 20px;
        padding-top: 20px;
        border-radius: 50px 50px 0px 0px;
        background-color: $white;

        display: flex;
        flex-direction: column;

        z-index: 1;

        &_h {
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
            font-size: $h1;
        }

        &_hr {
            margin-left: 10%;
            margin-right: 10%;
            width: auto;
            border-bottom: 2px solid $light-gray;
        }

        &_info {
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 10%;
            font-size: $h2;
        }

        &_description {
            margin-left: 10%;
            margin-right: 30%;
            margin-bottom: 20px;
            color: $dark-gray;
            font-size: $p1;
        }
    }

    &_additional {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 15%;
        padding-right: 15%;
        background-color: $light-violet;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4%;

        &_card {
            padding: 20px;
            width: 150px;
            height: 100px;
            background-color: $white;
            border-radius: 20px;
            box-shadow: $light-shadow;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &_icon {
                margin-bottom: 20px;
            }

            &_text {
                color: $dark-gray;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .dishContent {
        &_img {
            height: 375px;
        }
    }
}

@media screen and (max-width: $phone) {
    .dishContent {
        &_img {
            height: 250px;
        }
    }
}