@import "@/styles/variables.scss";

.header {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 3%;
    padding-right: 5%;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;

    &_logo{
        color: rgb(46, 47, 46);
        font-weight: bolder;
        width: 45%;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &_sections {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        &_section {
            white-space: nowrap;
            text-decoration: none;
            color:$black-primary;
            font-size: 16px;
            line-height: 24px;
        }

        &_section:hover{
            color: #113fe8;
        }
    }

    &_login {
        &_panel {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_link {
               display: flex;
               align-items: center;
               justify-content: center;
            }

            &_logout {
                cursor: pointer;
                background-color: $white;
                color: $light-blue;
                text-decoration: underline;
                transition: color 300ms;
    
                &:hover{
                    color: $gray;
                }
            }
    
            &_avatar {
                margin-right: 6px;
                width: auto;
                height: 24px;
                border-radius: 50%;
                border: 1px solid $very-light-gray;
                box-shadow: $dark-shadow;

                &:hover {
                    border: 1px solid $black-primary;
                    transition: border 300ms linear;
                }
            }
        }
    }
}