@import "@/styles/variables.scss";

.header {
    background-color: $white;
    display: flex;
    height: 50px;
    background-color: transparent;
    align-items: center;
    &_logo{
        color: rgb(46, 47, 46);
        font-weight: bolder;
        width: 45%;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &_sections {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    &_sections a{
        text-decoration: none;
        color:$black-primary;
        font-size: 16px;
        line-height: 24px;
    }
    &_sections a:hover{
        color: #113fe8;
    }

    &_button button {
        padding: 10px 15px;
        color: white;
        border: none;
        border-radius: 12px;
        background-color: $black-primary;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        margin-left: 20px;
}
}