@import "@/styles/variables.scss";

.other {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;

    &_h {
        margin-top: 40px;
        font-size: $h2;
    }

    &_carousel {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }

    &_item {
        text-decoration: none;
        color: $black;
    }
}

@media screen and (max-width: $phone) {
    .other {
        &_h {
            margin-top: 10px;
            font-size: $p1;
        }
    }
}
