@import "@/styles/variables.scss";

.favouritePage {
    &_body {
        margin: 0 auto;
        max-width: $fullhd;

        &_radio {
            margin: 20px 10%;
            display: flex;
            gap: 30px;
            align-items: center;
        }

        &_items {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            &_item {
                text-decoration: none;
                color: $black;
            }
        }
    }
}